html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #879db2;
  line-height: 1.25em;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

.logo {
  float: left;
  width: 120px;
  height: 90px;
  background-color: green;
  margin-left: 50px;
  text-align: center;
  margin-right: 9%;
}

.mainNavi {
  float: left;
  margin-right: 30%;
}
.mainNavi ul {
  margin: 0;
  padding: 0;
}
.mainNavi ul li {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
}
.mainNavi ul li a {
  display: block;
  padding: 37px 16px;
  font-size: 1em;
  color: #3d5974;
  background-color: transparent;
  font-weight: 400;
}
.mainNavi ul:after {
  display: block;
  content: "";
  clear: both;
}
.mainNavi a:hover {
  color: #0988ff;
  background-color: transparent;
}

.rentNow {
  float: left;
  padding-left: 20px;
  margin-top: 20px;
}
.rentNow a {
  display: block;
  padding: 11px 40px;
  font-size: 0.8em;
  font-weight: 500;
  color: #0988ff;
  background: transparent;
  border: 1px solid #0988ff;
  border-radius: 4px;
}
.rentNow a:hover {
  background: #0988ff;
  color: #FFFFFF;
  border-color: transparent;
}

.homeMain {
  padding: 7% 0;
}

.containerSlider {
  margin: 0 0 100px 0;
}

.sliderText {
  float: left;
  width: 40%;
  margin: 0 10% 0 10%;
  padding: 6% 0;
}
.sliderText .jc-slider {
  margin: 0;
  padding: 0;
}
.sliderText .jc-animation {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sliderText .jc-animation p {
  font-size: 3em;
  font-weight: 100;
}

.clearfix {
  clear: both;
}

.picHolder {
  float: left;
  width: 37%;
}
.picHolder img {
  width: 100%;
}

.bgColorForm {
  position: relative;
  z-index: 9;
}
.bgColorForm .mainContactForm {
  width: 77%;
  margin: 0 auto;
  box-shadow: 0 5px 30px 7px rgba(9, 136, 255, 0.1);
  padding: 4% 4.5%;
  background-color: #FFFFFF;
}
.bgColorForm .mainContactForm .containerSelectors {
  margin: 0 0 60px 0;
}
.bgColorForm .mainContactForm .containerSelectors .selectors {
  float: left;
  width: 30%;
  margin: 0 3% 0 0;
}
.bgColorForm .mainContactForm .containerSelectors .selectors span {
  display: block;
  font-size: 0.8em;
  font-weight: 500;
  color: #0988ff;
  text-transform: uppercase;
  margin: 0 0 8px;
}
.bgColorForm .mainContactForm .containerSelectors .selectors .selectDate {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #eef5fb;
  font-size: 25px;
  color: #3d5974;
  height: 47px;
  font-weight: 300;
}
.bgColorForm .mainContactForm .containerSelectors .selectors .selectCar {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #eef5fb;
  font-size: 25px;
  color: #3d5974;
  height: 47px;
  font-weight: 300;
}
.bgColorForm .mainContactForm .containerPrice {
  width: 67%;
  padding: 10px 0;
}
.bgColorForm .mainContactForm .containerPrice .price {
  float: right;
}
.bgColorForm .mainContactForm .containerPrice p {
  font-size: 0.8em;
  font-weight: 500;
  color: #0988ff;
  text-transform: uppercase;
  display: inline-block;
  padding-right: 10px;
  margin: 0 0 20px;
}
.bgColorForm .mainContactForm .containerPrice p:after {
  display: block;
  content: "";
  clear: both;
}
.bgColorForm .mainContactForm .containerPrice .range {
  width: 100%;
}
.bgColorForm .mainContactForm .containerPrice .ui-slider .ui-slider-range {
  background-color: #0988ff;
}
.bgColorForm .mainContactForm .buttonSearch {
  float: right;
  width: 31%;
  line-height: 40px;
  padding: 10px 0;
  text-align: center;
}
.bgColorForm .mainContactForm .buttonSearch a {
  display: block;
  background-color: #0988ff;
  color: #FFFFFF;
  text-transform: uppercase;
  padding: 12px 3.5%;
  font-weight: 500;
  font-size: 0.9em;
  border-radius: 7px;
  transition: 0.5s cubic-bezier(0.25, 0.1, 0.67, 0.97);
}
.bgColorForm .buttonSearch:hover a {
  background: #3d5974;
  color: #FFFFFF;
}

.bgColorForm:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  background: #eef5fb;
}

.backgroundIcon {
  background-color: #eef5fb;
  padding: 2%;
  margin: 0 0 110px 0;
}
.backgroundIcon .howToRent {
  padding: 8% 0 0 0;
}
.backgroundIcon .howToRent .titleHow {
  text-align: center;
  color: #3d5974;
  font-size: 3.2em;
  font-weight: 300;
}
.backgroundIcon .howToRent .stepsText {
  text-align: center;
  color: #0988ff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8em;
  margin: 0 0 25px 0;
}
.backgroundIcon .containerIcon {
  float: left;
  width: 31%;
  margin-left: 2%;
}
.backgroundIcon .containerIcon .iconHolder {
  margin: 0 auto;
  text-align: center;
}
.backgroundIcon .containerIcon .iconHolder i {
  border-radius: 100%;
  background-color: #fff;
  padding: 6.5%;
  font-size: 1.5em;
  color: #3d5974;
  box-shadow: 0 3px 20px 2px rgba(9, 136, 255, 0.1);
}
.backgroundIcon .containerIcon .iconHolder .fa-wpforms {
  margin-top: 85px;
}
.backgroundIcon .containerIcon .infoContainer h3 {
  color: #3d5974;
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
}
.backgroundIcon .containerIcon .infoContainer p {
  width: 70%;
  margin: auto;
  text-align: center;
}

.containerAbout {
  padding: 1%;
}
.containerAbout .textAbout {
  width: 30.3%;
  float: left;
  margin: 0 3% 30px 1.5%;
}
.containerAbout .textAbout .aboutContent {
  float: left;
  width: 70%;
}
.containerAbout .textAbout i {
  float: left;
  font-size: 2em;
  margin: 0 5% 0;
}
.containerAbout .textAbout h3 {
  margin: 0;
}
.containerAbout .iconAbout {
  display: inline;
}
.containerAbout .textAbout:hover i {
  display: inline-block;
  animation: rotation 0.8s;
}
.containerAbout .textAbout:nth-child(4n+3) {
  margin-left: 0;
  margin-right: 0;
}
@keyframes rotation {
  49% {
    transform: rotateY(90deg);
  }
  50% {
    opacity: 0.5;
    transform: rotateY(180deg);
  }
  100% {
    opacity: 1;
  }
}

.mainAboutUs .containerImg {
  float: left;
  height: auto;
}
.mainAboutUs .containerImg img {
  border-radius: 10px;
}
.mainAboutUs .contentAboutUs {
  float: left;
  width: 50%;
}
.mainAboutUs .contentAboutUs .aboutUsText {
  padding: 12%;
  text-align: center;
  background-color: #FFFFFF;
  box-shadow: 0 5px 30px 7px rgba(9, 136, 255, 0.1);
  border-radius: 10px;
}
.mainAboutUs .contentAboutUs .aboutUsText .titleAboutUs {
  color: #3d5974;
  margin: 0 0 40px 0;
}
.mainAboutUs .contentAboutUs .aboutUsText .titleAboutUs h3 {
  font-size: 2.1em;
  font-weight: 300;
  margin: 0;
  line-height: 1.5em;
}
.mainAboutUs .contentAboutUs .aboutUsText p {
  margin: 0 auto;
  width: 80%;
  line-height: 2.5em;
}
.mainAboutUs .contentAboutUs .btnAboutUs {
  display: inline-block;
  padding: 11px 40px;
  font-size: 1em;
  font-weight: 500;
  border-radius: 4px;
  margin-top: 30px;
  background-color: #eef5fb;
  color: #3d5974;
  text-transform: uppercase;
  transition: 0.8s ease;
}
.mainAboutUs .contentAboutUs .btnAboutUs:hover {
  background-color: #0988ff;
  color: #FFFFFF;
}

.titleAboutUs:after {
  content: "";
  display: block;
  border-bottom: 4px solid #0988ff;
  width: 30%;
  margin: 15px auto;
}

/*# sourceMappingURL=style.css.map */
