html{
  height: 100%;
}
body{
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  color: #879db2;
  line-height: 1.25em;
  background-color: #FFFFFF;
}
a{
  text-decoration: none;
}
.header{
}
.logo{
  float: left;
  width: 120px;
  height: 90px;
  background-color: green;
  margin-left: 50px;
  text-align: center;
  margin-right: 9%;

}

.mainNavi{
  float: left;
  margin-right: 30%;
  .selected{
    color: #0988ff;
  }
  ul{
    margin: 0;
    padding: 0;

  }
  ul li{
    margin:0;
    padding:0;
    list-style: none;
    float: left;
  }
  ul li a{
    display: block;
    padding: 37px 21%;
    font-size: 1em;
    color: #3d5974;
    background-color: transparent;
    font-weight: 400;
    width: max-content;
  }
  ul:after{
    display: block;
    content: '';
    clear: both;
  }
  a:hover{
    color: #0988ff;
    background-color: transparent;
  }
}
.rentNow{
  float: left;
  padding-left: 20px;
  margin-top: 20px;

  a{
    display: block;
    padding: 11px 70%;
    font-size: 0.8em;
    font-weight: 500;
    color: #0988ff;
    background: transparent;
    border: 1px solid #0988ff;
    border-radius: 4px;
    width: max-content;

  }

}
.homeMain{
  padding: 7% 0;
}
.containerSlider{
  margin: 0 0 100px 0;
}
.sliderText {
  float: left;
  width: 40%;
  margin: 0 10% 0 10%;
  padding: 6% 0;
  .jc-slider{
    margin: 0;
    padding: 0;
  }
  .jc-animation {
    margin: 0;
    padding: 0;
    list-style: none;
    p {
      font-size: 3em;
      font-weight: 100;
    }
  }
}
.clearfix{
  clear: both;
}
.picHolder{
  float: left;
  width: 37%;
  img{
    width: 100%;
  }
}


.mainContactForm{
  width: 77%;
  margin: 0 auto;
  box-shadow: 0 5px 30px 7px rgba(9, 136, 255, 0.1);
  padding: 4% 4.5%;
.containerSelectors {
  margin: 0 0 60px 0;

  .selectors {
    float: left;
    width: 30%;
    margin: 0 3% 0 0;
    span {
      display: block;
      font-size: 0.8em;
      font-weight: 500;
      color: #0988ff;
      text-transform: uppercase;
      margin: 0 0 8px;
    }
    .selectDate {
      width: 100%;
      border: none;
      background: transparent;
      border-bottom: 1px solid #eef5fb;
      font-size: 25px;
      color: #3d5974;
      height: 47px;
      font-weight: 300;
    }
    .selectCar {
      width: 100%;
      border: none;
      background: transparent;
      border-bottom: 1px solid #eef5fb;
      font-size: 25px;
      color: #3d5974;
      height: 47px;
      font-weight: 300;
    }
  }
}
  .containerPrice {
    width: 67%;
    padding: 10px 0;


    .price {
      float: right;

    }
    p{
      font-size: 0.8em;
      font-weight: 500;
      color: #0988ff;
      text-transform: uppercase;
      display: inline-block;
      padding-right: 10px;
      margin: 0 0 20px;

    }
    p:after {
      display: block;
      content: '';
      clear: both;
    }
    .range {
      width: 100%;

    }
    .ui-slider .ui-slider-range{
      background-color: #0988ff;
    }
  }
  .buttonSearch{
    float: right;
    width: 31%;
    line-height: 40px;
    padding: 10px 0;
    text-align: center;
    a {
      display: block;
      background-color: #0988ff;
      color: #FFFFFF;
      text-transform: uppercase;
      padding: 12px 3.5%;
      font-weight: 500;
      font-size: 0.9em;
      border-radius: 7px;
      transition: 0.5s cubic-bezier(0.25, 0.1, 0.67, 0.97);
    }
  }
}
.buttonSearch:hover a{
  background: #3d5974;
  color: #FFFFFF;
}

.howToRent{
  padding: 8% 0 0 0 ;
  .titleHow{
    text-align: center;
    color: #3d5974;
    font-size: 3.2em;
    font-weight: 300;
  }
  .stepsText{
    text-align: center;
    color: #0988ff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    margin: 0 0 25px 0;


  }

}

.containerIcon{
  float: left;
  width: 31%;

  margin-left: 2%;
  .iconHolder{
    margin: 0 auto;
    text-align: center;
    i{
      border-radius: 100%;
      background-color: #fff;
      padding: 6.5%;
      font-size: 1.5em;
      color: #3d5974;
      box-shadow: 0 3px 20px 2px rgba(9, 136, 255, 0.1);
    }
    .fa-wpforms{
      margin-top: 85px;
    }
  }
  .infoContainer{
    h3{
      color: #3d5974;
      font-size: 1em;
      font-weight: 500;
      margin-bottom: 20px;
      text-align: center;
    }
    p{
      width: 70%;
      margin: auto;
      text-align: center;
    }
  }

}